[submodule "UCloud-document"]
	path = UCloud-document
	url = git@github.com:UCloudDocs/UCloud-document.git
[submodule "uhybrid"]
	path = uhybrid
	url = git@github.com:UCloudDocs/uhybrid.git
[submodule "uhost"]
	path = uhost
	url = git@github.com:UCloudDocs/uhost.git
[submodule "uphost"]
	path = uphost
	url = git@github.com:UCloudDocs/uphost.git
[submodule "udhost"]
	path = udhost
	url = git@github.com:UCloudDocs/udhost.git
[submodule "udocker"]
	path = udocker
	url = git@github.com:UCloudDocs/udocker.git
[submodule "ugc"]
	path = ugc
	url = git@github.com:UCloudDocs/ugc.git
[submodule "uhub"]
	path = uhub
	url = git@github.com:UCloudDocs/uhub.git
[submodule "uk8s"]
	path = uk8s
	url = git@github.com:UCloudDocs/uk8s.git
[submodule "terraform"]
	path = terraform
	url = git@github.com:UCloudDocs/terraform.git
[submodule "unet"]
	path = unet
	url = git@github.com:UCloudDocs/unet.git
[submodule "vpc"]
	path = vpc
	url = git@github.com:UCloudDocs/vpc.git
[submodule "firewall"]
	path = firewall
	url = git@github.com:UCloudDocs/firewall.git
[submodule "vip"]
	path = vip
	url = git@github.com:UCloudDocs/vip.git
[submodule "udpn"]
	path = udpn
	url = git@github.com:UCloudDocs/udpn.git
[submodule "pathx"]
	path = pathx
	url = git@github.com:UCloudDocs/pathx.git
[submodule "ipsec"]
	path = ipsec
	url = git@github.com:UCloudDocs/ipsec.git
[submodule "vpn"]
	path = vpn
	url = git@github.com:UCloudDocs/vpn.git
[submodule "udee"]
	path = udee
	url = git@github.com:UCloudDocs/udee.git
[submodule "ipv6translation"]
	path = ipv6translation
	url = git@github.com:UCloudDocs/ipv6translation.git
[submodule "roma"]
	path = roma
	url = git@github.com:UCloudDocs/roma.git
[submodule "ulb"]
	path = ulb
	url = git@github.com:UCloudDocs/ulb.git
[submodule "udisk"]
	path = udisk
	url = git@github.com:UCloudDocs/udisk.git
[submodule "ufile"]
	path = ufile
	url = git@github.com:UCloudDocs/ufile.git
[submodule "uda"]
	path = uda
	url = git@github.com:UCloudDocs/uda.git
[submodule "uarchive"]
	path = uarchive
	url = git@github.com:UCloudDocs/uarchive.git
[submodule "ufs"]
	path = ufs
	url = git@github.com:UCloudDocs/ufs.git
[submodule "udb-mysql"]
	path = udb-mysql
	url = git@github.com:UCloudDocs/udb-mysql.git
[submodule "udb-mongodb"]
	path = udb-mongodb
	url = git@github.com:UCloudDocs/udb-mongodb.git
[submodule "udb-pgsql"]
	path = udb-pgsql
	url = git@github.com:UCloudDocs/udb-pgsql.git
[submodule "udb-sqlserver"]
	path = udb-sqlserver
	url = git@github.com:UCloudDocs/udb-sqlserver.git
[submodule "umem"]
	path = umem
	url = git@github.com:UCloudDocs/umem.git
[submodule "uredis"]
	path = uredis
	url = git@github.com:UCloudDocs/uredis.git
[submodule "uddb"]
	path = uddb
	url = git@github.com:UCloudDocs/uddb.git
[submodule "utidb"]
	path = utidb
	url = git@github.com:UCloudDocs/utidb.git
[submodule "ucdn"]
	path = ucdn
	url = git@github.com:UCloudDocs/ucdn.git
[submodule "uodn"]
	path = uodn
	url = git@github.com:UCloudDocs/uodn.git
[submodule "uedn"]
	path = uedn
	url = git@github.com:UCloudDocs/uedn.git
[submodule "umedia"]
	path = umedia
	url = git@github.com:UCloudDocs/umedia.git
[submodule "urtc"]
	path = urtc
	url = git@github.com:UCloudDocs/urtc.git
[submodule "ulive"]
	path = ulive
	url = git@github.com:UCloudDocs/ulive.git
[submodule "uvideo"]
	path = uvideo
	url = git@github.com:UCloudDocs/uvideo.git
[submodule "uvideo_sdk"]
	path = uvideo_sdk
	url = git@github.com:UCloudDocs/uvideo_sdk.git
[submodule "usecurity"]
	path = usecurity
	url = git@github.com:UCloudDocs/usecurity.git
[submodule "usa"]
	path = usa
	url = git@github.com:UCloudDocs/usa.git
[submodule "uantiddos"]
	path = uantiddos
	url = git@github.com:UCloudDocs/uantiddos.git
[submodule "clean"]
	path = clean
	url = git@github.com:UCloudDocs/clean.git
[submodule "uads"]
	path = uads
	url = git@github.com:UCloudDocs/uads.git
[submodule "uhids"]
	path = uhids
	url = git@github.com:UCloudDocs/uhids.git
[submodule "uhas"]
	path = uhas
	url = git@github.com:UCloudDocs/uhas.git
[submodule "uewaf"]
	path = uewaf
	url = git@github.com:UCloudDocs/uewaf.git
[submodule "uws_robot"]
	path = uws_robot
	url = git@github.com:UCloudDocs/uws_robot.git
[submodule "udas"]
	path = udas
	url = git@github.com:UCloudDocs/udas.git
[submodule "udbcp"]
	path = udbcp
	url = git@github.com:UCloudDocs/udbcp.git
[submodule "gpu"]
	path = gpu
	url = git@github.com:UCloudDocs/gpu.git
[submodule "uai-inference"]
	path = uai-inference
	url = git@github.com:UCloudDocs/uai-inference.git
[submodule "uai-train"]
	path = uai-train
	url = git@github.com:UCloudDocs/uai-train.git
[submodule "uai-censor"]
	path = uai-censor
	url = git@github.com:UCloudDocs/uai-censor.git
[submodule "uai-ocr"]
	path = uai-ocr
	url = git@github.com:UCloudDocs/uai-ocr.git
[submodule "uhadoop"]
	path = uhadoop
	url = git@github.com:UCloudDocs/uhadoop.git
[submodule "ues"]
	path = ues
	url = git@github.com:UCloudDocs/ues.git
[submodule "udw"]
	path = udw
	url = git@github.com:UCloudDocs/udw.git
[submodule "ukafka"]
	path = ukafka
	url = git@github.com:UCloudDocs/ukafka.git
[submodule "uscheduler"]
	path = uscheduler
	url = git@github.com:UCloudDocs/uscheduler.git
[submodule "usql"]
	path = usql
	url = git@github.com:UCloudDocs/usql.git
[submodule "uflink"]
	path = uflink
	url = git@github.com:UCloudDocs/uflink.git
[submodule "uiot-core"]
	path = uiot-core
	url = git@github.com:UCloudDocs/uiot-core.git
[submodule "register"]
	path = register
	url = git@github.com:UCloudDocs/register.git
[submodule "identity_verification"]
	path = identity_verification
	url = git@github.com:UCloudDocs/identity_verification.git
[submodule "remind"]
	path = remind
	url = git@github.com:UCloudDocs/remind.git
[submodule "login"]
	path = login
	url = git@github.com:UCloudDocs/login.git
[submodule "security"]
	path = security
	url = git@github.com:UCloudDocs/security.git
[submodule "stepflow"]
	path = stepflow
	url = git@github.com:UCloudDocs/stepflow.git
[submodule "udts"]
	path = udts
	url = git@github.com:UCloudDocs/udts.git
[submodule "usms"]
	path = usms
	url = git@github.com:UCloudDocs/usms.git
[submodule "utoken"]
	path = utoken
	url = git@github.com:UCloudDocs/utoken.git
[submodule "umon"]
	path = umon
	url = git@github.com:UCloudDocs/umon.git
[submodule "security_lock"]
	path = security_lock
	url = git@github.com:UCloudDocs/security_lock.git
[submodule "manage"]
	path = manage
	url = git@github.com:UCloudDocs/manage.git
[submodule "uproject"]
	path = uproject
	url = git@github.com:UCloudDocs/uproject.git
[submodule "uops"]
	path = uops
	url = git@github.com:UCloudDocs/uops.git
[submodule "renew"]
	path = renew
	url = git@github.com:UCloudDocs/renew.git
[submodule "transaction"]
	path = transaction
	url = git@github.com:UCloudDocs/transaction.git
[submodule "invoice"]
	path = invoice
	url = git@github.com:UCloudDocs/invoice.git
[submodule "bill"]
	path = bill
	url = git@github.com:UCloudDocs/bill.git
[submodule "order"]
	path = order
	url = git@github.com:UCloudDocs/order.git
[submodule "contract"]
	path = contract
	url = git@github.com:UCloudDocs/contract.git
[submodule "charge"]
	path = charge
	url = git@github.com:UCloudDocs/charge.git
[submodule "beian1"]
	path = beian1
	url = git@github.com:UCloudDocs/beian1.git
[submodule "beianintro"]
	path = beianintro
	url = git@github.com:UCloudDocs/beianintro.git
[submodule "faq"]
	path = faq
	url = git@github.com:UCloudDocs/faq.git
[submodule "cli"]
	path = cli
	url = git@github.com:UCloudDocs/cli.git
[submodule "dns"]
	path = dns
	url = git@github.com:UCloudDocs/dns.git
[submodule "docker"]
	path = docker
	url = git@github.com:UCloudDocs/docker.git
[submodule "vpnguide"]
	path = vpnguide
	url = git@github.com:UCloudDocs/vpnguide.git
[submodule "udnr"]
	path = udnr
	url = git@github.com:UCloudDocs/udnr.git
[submodule "ussl"]
	path = ussl
	url = git@github.com:UCloudDocs/ussl.git
[submodule "agreement"]
	path = agreement
	url = git@github.com:UCloudDocs/agreement.git
[submodule "sla"]
	path = sla
	url = git@github.com:UCloudDocs/sla.git
[submodule "global"]
	path = global
	url = git@github.com:UCloudDocs/global.git
