[submodule "uhost"]
	path = uhost
	url = https://github.com/UCloudDoc-Team/uhost.git
[submodule "uphost"]
	path = uphost
	url = https://github.com/UCloudDoc-Team/uphost.git
[submodule "udhost"]
	path = udhost
	url = https://github.com/UCloudDoc-Team/udhost.git
[submodule "uhub"]
	path = uhub
	url = https://github.com/UCloudDoc-Team/uhub.git
[submodule "uk8s"]
	path = uk8s
	url = https://github.com/UCloudDoc-Team/uk8s.git
[submodule "terraform"]
	path = terraform
	url = https://github.com/UCloudDoc-Team/terraform.git
[submodule "unet"]
	path = unet
	url = https://github.com/UCloudDoc-Team/unet.git
[submodule "vpc"]
	path = vpc
	url = https://github.com/UCloudDoc-Team/vpc.git
[submodule "udpn"]
	path = udpn
	url = https://github.com/UCloudDoc-Team/udpn.git
[submodule "pathx"]
	path = pathx
	url = https://github.com/UCloudDoc-Team/pathx.git
[submodule "ipsec"]
	path = ipsec
	url = https://github.com/UCloudDoc-Team/ipsec.git
[submodule "ulb"]
	path = ulb
	url = https://github.com/UCloudDoc-Team/ulb.git
[submodule "udisk"]
	path = udisk
	url = https://github.com/UCloudDoc-Team/udisk.git
[submodule "ufile"]
	path = ufile
	url = https://github.com/UCloudDoc-Team/ufile.git
[submodule "uda"]
	path = uda
	url = https://github.com/UCloudDoc-Team/uda.git
[submodule "ufs"]
	path = ufs
	url = https://github.com/UCloudDoc-Team/ufs.git
[submodule "udb-mysql"]
	path = udb-mysql
	url = https://github.com/UCloudDoc-Team/udb-mysql.git
[submodule "udb-mongodb"]
	path = udb-mongodb
	url = https://github.com/UCloudDoc-Team/udb-mongodb.git
[submodule "udb-pgsql"]
	path = udb-pgsql
	url = https://github.com/UCloudDoc-Team/udb-pgsql.git
[submodule "udb-sqlserver"]
	path = udb-sqlserver
	url = https://github.com/UCloudDoc-Team/udb-sqlserver.git
[submodule "umem"]
	path = umem
	url = https://github.com/UCloudDoc-Team/umem.git
[submodule "uredis"]
	path = uredis
	url = https://github.com/UCloudDoc-Team/uredis.git
[submodule "uddb"]
	path = uddb
	url = https://github.com/UCloudDoc-Team/uddb.git
[submodule "ucdn"]
	path = ucdn
	url = https://github.com/UCloudDoc-Team/ucdn.git
[submodule "uedn"]
	path = uedn
	url = https://github.com/UCloudDoc-Team/uedn.git
[submodule "umedia"]
	path = umedia
	url = https://github.com/UCloudDoc-Team/umedia.git
[submodule "urtc"]
	path = urtc
	url = https://github.com/UCloudDoc-Team/urtc.git
[submodule "ulive"]
	path = ulive
	url = https://github.com/UCloudDoc-Team/ulive.git
[submodule "usa"]
	path = usa
	url = https://github.com/UCloudDoc-Team/usa.git
[submodule "uantiddos"]
	path = uantiddos
	url = https://github.com/UCloudDoc-Team/uantiddos.git
[submodule "uhids"]
	path = uhids
	url = https://github.com/UCloudDoc-Team/uhids.git
[submodule "uhas"]
	path = uhas
	url = https://github.com/UCloudDoc-Team/uhas.git
[submodule "uewaf"]
	path = uewaf
	url = https://github.com/UCloudDoc-Team/uewaf.git
[submodule "udas"]
	path = udas
	url = https://github.com/UCloudDoc-Team/udas.git
[submodule "udbcp"]
	path = udbcp
	url = https://github.com/UCloudDoc-Team/udbcp.git
[submodule "gpu"]
	path = gpu
	url = https://github.com/UCloudDoc-Team/gpu.git
[submodule "uhadoop"]
	path = uhadoop
	url = https://github.com/UCloudDoc-Team/uhadoop.git
[submodule "ues"]
	path = ues
	url = https://github.com/UCloudDoc-Team/ues.git
[submodule "ukafka"]
	path = ukafka
	url = https://github.com/UCloudDoc-Team/ukafka.git
[submodule "uflink"]
	path = uflink
	url = https://github.com/UCloudDoc-Team/uflink.git
[submodule "uiot-core"]
	path = uiot-core
	url = https://github.com/UCloudDoc-Team/uiot-core.git
[submodule "register"]
	path = register
	url = https://github.com/UCloudDoc-Team/register.git
[submodule "identity_verification"]
	path = identity_verification
	url = https://github.com/UCloudDoc-Team/identity_verification.git
[submodule "remind"]
	path = remind
	url = https://github.com/UCloudDoc-Team/remind.git
[submodule "login"]
	path = login
	url = https://github.com/UCloudDoc-Team/login.git
[submodule "security"]
	path = security
	url = https://github.com/UCloudDoc-Team/security.git
[submodule "usms"]
	path = usms
	url = https://github.com/UCloudDoc-Team/usms.git
[submodule "utoken"]
	path = utoken
	url = https://github.com/UCloudDoc-Team/utoken.git
[submodule "umon"]
	path = umon
	url = https://github.com/UCloudDoc-Team/umon.git
[submodule "security_lock"]
	path = security_lock
	url = https://github.com/UCloudDoc-Team/security_lock.git
[submodule "manage"]
	path = manage
	url = https://github.com/UCloudDoc-Team/manage.git
[submodule "uproject"]
	path = uproject
	url = https://github.com/UCloudDoc-Team/uproject.git
[submodule "uops"]
	path = uops
	url = https://github.com/UCloudDoc-Team/uops.git
[submodule "renew"]
	path = renew
	url = https://github.com/UCloudDoc-Team/renew.git
[submodule "transaction"]
	path = transaction
	url = https://github.com/UCloudDoc-Team/transaction.git
[submodule "invoice"]
	path = invoice
	url = https://github.com/UCloudDoc-Team/invoice.git
[submodule "bill"]
	path = bill
	url = https://github.com/UCloudDoc-Team/bill.git
[submodule "order"]
	path = order
	url = https://github.com/UCloudDoc-Team/order.git
[submodule "contract"]
	path = contract
	url = https://github.com/UCloudDoc-Team/contract.git
[submodule "charge"]
	path = charge
	url = https://github.com/UCloudDoc-Team/charge.git
[submodule "beian1"]
	path = beian1
	url = https://github.com/UCloudDoc-Team/beian1.git
[submodule "cli"]
	path = cli
	url = https://github.com/UCloudDoc-Team/cli.git
[submodule "udnr"]
	path = udnr
	url = https://github.com/UCloudDoc-Team/udnr.git
[submodule "ussl"]
	path = ussl
	url = https://github.com/UCloudDoc-Team/ussl.git
[submodule "agreement"]
	path = agreement
	url = https://github.com/UCloudDoc-Team/agreement.git
[submodule "sla"]
	path = sla
	url = https://github.com/UCloudDoc-Team/sla.git
[submodule "anycasteip"]
	path = anycasteip
	url = https://github.com/UCloudDoc-Team/anycasteip.git
[submodule "tidb"]
	path = tidb
	url = https://github.com/UCloudDoc-Team/tidb.git
[submodule "uapi"]
	path = uapi
	url = https://github.com/UCloudDoc-Team/uapi.git
[submodule "udts"]
	path = udts
	url = https://github.com/UCloudDoc-Team/udts.git
[submodule "opensdk-java"]
	path = opensdk-java
	url = https://github.com/UCloudDoc-Team/opensdk-java.git
[submodule "opensdk-go"]
	path = opensdk-go
	url = https://github.com/UCloudDoc-Team/opensdk-go.git
[submodule "opensdk-python"]
	path = opensdk-python
	url = https://github.com/UCloudDoc-Team/opensdk-python.git
[submodule "api"]
	path = api
	url = https://github.com/UCloudDoc-Team/api.git
[submodule "utsdb"]
	path = utsdb
	url = https://github.com/UCloudDoc-Team/utsdb.git
[submodule "iam"]
	path = iam
	url = https://github.com/UCloudDoc-Team/iam.git
[submodule "uiot-edge"]
	path = uiot-edge
	url = https://github.com/UCloudDoc-Team/uiot-edge.git
[submodule "uhybrid2.0"]
	path = uhybrid2.0
	url = https://github.com/UCloudDoc-Team/uhybrid2.0.git
[submodule "udns"]
	path = udns
	url = https://github.com/UCloudDoc-Team/udns.git
[submodule "usnap"]
	path = usnap
	url = https://github.com/UCloudDoc-Team/usnap.git
[submodule "cloudshell"]
	path = cloudshell
	url = https://github.com/UCloudDoc-Team/cloudshell.git
[submodule "usmc"]
	path = usmc
	url = https://github.com/UCloudDoc-Team/usmc.git
[submodule "uiot-stack"]
	path = uiot-stack
	url = https://github.com/UCloudDoc-Team/uiot-stack.git
[submodule "uxzone"]
	path = uxzone
	url = https://github.com/UCloudDoc-Team/uxzone.git
[submodule "rocketmq"]
	path = rocketmq
	url = https://github.com/UCloudDoc-Team/rocketmq.git
[submodule "isms"]
	path = isms
	url = https://github.com/UCloudDoc-Team/isms.git
[submodule "uclickhouse"]
	path = uclickhouse
	url = https://github.com/UCloudDoc-Team/uclickhouse.git
[submodule "ucmp"]
	path = ucmp
	url = https://github.com/UCloudDoc-Team/ucmp.git
[submodule "UCloudStor"]
	path = UCloudStor
	url = https://github.com/UCloudDoc-Team/UCloudStor.git
[submodule "opensdk-php"]
	path = opensdk-php
	url = https://github.com/UCloudDoc-Team/opensdk-php.git
[submodule "cdk"]
	path = cdk
	url = https://github.com/UCloudDoc-Team/cdk.git
[submodule "urlm"]
	path = urlm
	url = https://github.com/UCloudDoc-Team/urlm.git
[submodule "opensdk-js"]
	path = opensdk-js
	url = https://github.com/UCloudDoc-Team/opensdk-js.git
[submodule "udi"]
	path = udi
	url = https://github.com/UCloudDoc-Team/udi.git
[submodule "UCloudStack_v2.x"]
	path = UCloudStack_v2.x
	url = https://github.com/UCloudDoc-Team/UCloudStack_v2.x.git
[submodule "uphone"]
	path = uphone
	url = https://github.com/UCloudDoc-Team/uphone.git
[submodule "ucnam"]
	path = ucnam
	url = https://github.com/UCloudDoc-Team/ucnam.git
[submodule "globalssh"]
	path = globalssh
	url = https://github.com/UCloudDoc-Team/globalssh.git
[submodule "globalrdp"]
	path = globalrdp
	url = https://github.com/UCloudDoc-Team/globalrdp.git
[submodule "uslk"]
	path = uslk
	url = https://github.com/UCloudDoc-Team/uslk.git
[submodule "uvms"]
	path = uvms
	url = https://github.com/UCloudDoc-Team/uvms.git
[submodule "ugame"]
	path = ugame
	url = https://github.com/UCloudDoc-Team/ugame.git
[submodule "app_legal_agreement"]
	path = app_legal_agreement
	url = https://github.com/UCloudDoc-Team/app_legal_agreement.git
[submodule "mongodb_nvme"]
	path = mongodb_nvme
	url = https://github.com/UCloudDoc-Team/mongodb_nvme.git
[submodule "httpdns"]
	path = httpdns
	url = https://github.com/UCloudDoc-Team/httpdns.git
[submodule "common-docs"]
	path = common-docs
	url = https://github.com/UCloudDoc-Team/common-docs.git
[submodule "uphone-server"]
	path = uphone-server
	url = https://github.com/UCloudDoc-Team/uphone-server.git
[submodule "upgsql"]
	path = upgsql
	url = https://github.com/UCloudDoc-Team/upgsql.git
[submodule "data_classification"]
	path = data_classification
	url = https://github.com/UCloudDoc-Team/data_classification.git
[submodule "data_masking"]
	path = data_masking
	url = https://github.com/UCloudDoc-Team/data_masking.git
[submodule "udb_proxy"]
	path = udb_proxy
	url = git@github.com:UCloudDoc-Team/udb_proxy.git
[submodule "uaaa"]
	path = uaaa
	url = https://github.com/UCloudDoc-Team/uaaa.git
[submodule "inner-repository_uclouddocs"]
	path = inner-repository_uclouddocs
	url = https://github.com/UCloudDoc-Team/inner-repository_uclouddocs.git
[submodule "UCloudStack"]
	path = UCloudStack
	url = https://github.com/UCloudDoc-Team/UCloudStack.git
[submodule "ugn"]
	path = ugn
	url = https://github.com/UCloudDoc-Team/ugn.git
[submodule "crossborder"]
	path = crossborder
	url = https://github.com/UCloudDoc-Team/crossborder.git
[submodule "urm"]
	path = urm
	url = https://github.com/UCloudDoc-Team/urm.git
[submodule "trafficpackage"]
	path = trafficpackage
	url = https://github.com/UCloudDoc-Team/trafficpackage.git
[submodule "cube"]
	path = cube
	url = https://github.com/UCloudDoc-Team/cube.git
[submodule "ulhost"]
	path = ulhost
	url = https://github.com/UCloudDoc-Team/ulhost.git
[submodule "undt"]
	path = undt
	url = https://github.com/UCloudDoc-Team/undt.git
[submodule "uwan"]
	path = uwan
	url = https://github.com/UCloudDoc-Team/uwan.git
[submodule "modelverse"]
	path = modelverse
	url = https://github.com/UCloudDoc-Team/modelverse.git
[submodule "uas"]
	path = uas
	url = https://github.com/UCloudDoc-Team/uas.git
[submodule "label"]
	path = label
	url = https://github.com/UCloudDoc-Team/label.git
[submodule "upfs"]
	path = upfs
	url = https://github.com/UCloudDoc-Team/upfs.git
[submodule "udac"]
	path = udac
	url = https://github.com/UCloudDoc-Team/udac.git
[submodule "ulogservice"]
	path = ulogservice
	url = https://github.com/UCloudDoc-Team/ulogservice.git
[submodule "ureach"]
	path = ureach
	url = https://github.com/UCloudDoc-Team/ureach.git
[submodule "maxir"]
	path = maxir
	url = https://github.com/UCloudDoc-Team/maxir.git
[submodule "umarketplace"]
	path = umarketplace
	url = https://github.com/UCloudDoc-Team/umarketplace.git
[submodule "privatelink"]
	path = privatelink
	url = https://github.com/UCloudDoc-Team/privatelink.git
[submodule "cloudwatch"]
	path = cloudwatch
	url = https://github.com/UCloudDoc-Team/cloudwatch.git
[submodule "usns"]
	path = usns
	url = https://github.com/UCloudDoc-Team/usns.git
[submodule "ukms"]
	path = ukms
	url = https://github.com/UCloudDoc-Team/ukms.git
[submodule "maxirai"]
	path = maxirai
	url = https://github.com/UCloudDoc-Team/maxirai.git
[submodule "cps_platform"]
	path = cps_platform
	url = https://github.com/UCloudDoc-Team/cps_platform.git
[submodule "ucnest"]
	path = ucnest
	url = https://github.com/UCloudDoc-Team/ucnest.git
[submodule "cloudecosystem"]
	path = cloudecosystem
	url = https://github.com/UCloudDoc-Team/cloudecosystem.git
[submodule "cpc"]
	path = cpc
	url = https://github.com/UCloudDoc-Team/cpc.git

[submodule "plvr"]
	path = plvr
	url = https://github.com/UCloudDoc-Team/plvr.git
[submodule "aidb"]
	path = aidb
	url = https://github.com/UCloudDoc-Team/aidb.git
